services:
    db:
      image: postgres:16
      container_name: auth_sso_db
      environment:
        POSTGRES_DB: auth_sso
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: 1234
      ports:
        - "5432:5432"
      volumes:
        - auth_sso_pgdata:/var/lib/postgresql/data
      healthcheck:
        test: [ "CMD-SHELL", "pg_isready -U postgres -d auth_sso" ]
        interval: 5s
        timeout: 5s
        retries: 10

    app:
      build: .
      container_name: auth_sso_app
      depends_on:
        db:
          condition: service_healthy
      environment:
        SPRING_PROFILES_ACTIVE: docker
        SPRING_DATASOURCE_URL: jdbc:postgresql://db:5432/auth_sso
        SPRING_DATASOURCE_USERNAME: postgres
        SPRING_DATASOURCE_PASSWORD: 1234
        SECURITY_JWT_SECRET: "CHANGE_ME_TO_A_LONG_RANDOM_SECRET_32+_CHARS"
        SECURITY_JWT_ACCESS_TOKEN_MINUTES: "15"
        SECURITY_JWT_REFRESH_TOKEN_DAYS: "7"
      ports:
        - "127.0.0.1:18080:8080"

volumes:
  auth_sso_pgdata: